name: CI

on:
  pull_request:
  push:
    branches:
    - main
  schedule:
    - cron: "0 0 */7 * *"

jobs:
  build_docs:
    name: "Build and deploy docs"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      
      - name: Build docker container
        run: docker build -t scdocs .
      
      - name: Build docs in Docker container
        run: docker run -v ${PWD}/build:/root/scdocs scdocs /root/build_docs.sh

      - name: upload HTML documentation as gh-pages branch
        uses: peaceiris/actions-gh-pages@v3.9.3
        if: success() && github.ref == 'refs/heads/main' # only deploy main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
